main {
  height: 100vh;
  background: #e9e9ec;
  z-index: -1;
}

.div-search {
  background-color: #12273e;
  opacity: 0.9;
  color: #fff;
  border-radius: 8px;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 7.5rem;
  width: 90%;
  padding: 1rem;
  margin: -3.8rem auto 0 auto;

  font-size: 1.2rem;

  .components-search {
    display: flex;
    flex-wrap: wrap;

    gap: 1rem;
  }

  input {
    height: 1.7rem;
    width: 12rem;
  }
  input:focus {
    order: 5px solid gray;
    box-shadow: 0 0 10px gray;
    outline: none !important;
    opacity: 1;
  }

  .search-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1.4rem;
    height: 1.9rem;
    width: 6rem;
    border-radius: 10px;

    font-size: 16px;

    background: #16314e;
    color: white;

    cursor: pointer;
  }
}

.div-include {
  width: min(90vw, 1140px);
  margin: auto;

  .button-include {
    display: inline-block;
    text-decoration: none;
    background: #12273e;
    color: #fff;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 8px;
  }
}

.react-modal-overlay {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal {
  width: 100%;
  max-width: 576px;

  background: gray;
  padding: 3rem;
  position: relative;
  border-radius: 0.25rem;
}

.react-modal-close {
  height: 5px;
  width: 5px;

  position: absolute;
  right: 2.5rem;
  top: 1rem;
  border: 0;
  background: transparent;
  cursor: pointer;

  transition: filter 0.2s;
  &:hover {
    filter: brightness(0.8);
  }
}

.form-modal {
  h2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  input {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    border-radius: 0.25rem;

    border: 1px solid #d7d7d7;
    background: e7e9ee;

    font-weight: 400;
    font-size: 1rem;

    &::placeholder {
      color: gray;
    }

    & + input {
      margin-top: 1rem;
    }
  }

  button[type="submit"] {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    background: #16314e;
    color: #fff;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

#data-table {
  border-spacing: 0 0.5rem;
  margin: auto;

  width: min(90vw, 1140px);
  margin: auto;

  img {
    cursor: pointer;
    height: 24px;
    width: 24;
  }
}

.table-description {
  font-size: 1.1rem;
  color: black;
  background-color: #808080 !important;
}

table th {
  background-color: #fff;

  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

table td {
  background-color: #fff;
  padding: 1rem 2rem;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

td.description {
  color: var(--dark-blue);
}
